.filter input {
    background-color: inherit;
    border: none;
    border-bottom: orangered solid 2px;
    color: #AAA;
    -webkit-animation: unfocused 0.25s;
    width: 100%;
}

.filter {
    margin: 8px;
    width: 95%;
}

.tag {
    color: purple;
}

.filter input:focus {
    border-bottom: #c23502 solid 2px;
    outline: none;
    -webkit-animation: focused 0.25s;
}

@keyframes focused {
    from {border-bottom: orangered solid 2px;}
    to {border-bottom: #c23502 solid 2px;}
}

@keyframes unfocused {
    from {border-bottom: #c23502 solid 2px;}
    to {border-bottom: orangered solid 2px;}
}

.drawer {
    height: 90%;
    opacity: 1;
    -webkit-animation: fadein 1s;
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.list {
    max-height: 800px;
    border-top: 1px solid white;
}

.title {
    color: #AAA;
    font-weight: 800;
    font-size: 32px;
    font-family: 'Dejavu Sans';
    text-align: center;
    margin: 10px;
}

.item {
    color: #AAA;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 3px;
    font-family: 'Dejavu Sans';
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.item:hover {
    background-color: #1c2d49;
}

.selected:hover {
    color: #04ebb9;
    background-color: #1c2d49;
}

.selected {
    color: #00ffc8;
    background-color: #1c2d49;
}