.filter input {
    background-color: inherit;
    border: none;
    border-bottom: orangered solid 2px;
    color: #AAA;
    -webkit-animation: unfocused 0.25s;
}

.filter input:focus {
    border-bottom: #c23502 solid 2px;
    outline: none;
    -webkit-animation: focused 0.25s;
}

@keyframes focused {
    from {border-bottom: orangered solid 2px;}
    to {border-bottom: #c23502 solid 2px;}
}

@keyframes unfocused {
    from {border-bottom: #c23502 solid 2px;}
    to {border-bottom: orangered solid 2px;}
}

.drawer {
    height: 100%;
    opacity: 1;
    -webkit-animation: fadein 1s;
}

.title {
    color: #AAA;
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 5px;
    font-family: 'Dejavu Sans';
    margin: 10px;
}

.item {
    color: #AAA;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 3px;
    font-family: 'Dejavu Sans';
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    cursor: pointer;
}

.item:hover {
    background-color: #1c2d49;
}

.selected:hover {
    background-color: #04ebb9;
}

.selected {
    background-color: #00ffc8;
    color: #444;
}