<div class="container">
    <div class="row">
        <h2 id="header">Match me if you can</h2>
        <input id="nlp-input" placeholder="What do you want to find?">
    </div>
    <div class="row">
        <drawer class="first col-4" title="API Tags" [items]="tags" (onClicked)="tagSelect($event)"></drawer>
        <drawer *ngIf="connected" class="second col-4" title="Reachable Tags" [items]="connected" (onClicked)="complete($event)"></drawer>
        <drawer *ngIf="path" class="third col-4" title="Shortest Connection" [items]="path" (onClicked)="selectAPI($event)"></drawer>
        <viewer *ngIf="selectedAPI != null" [api]="selectedAPI" (onExit)="deselectAPI($event)"></viewer>
    </div>
</div>