/* You can add global styles to this file, and also import other style files */
body {
    background-color: #121c2d;
    border: 2px solid white;
}

html,body,.container {
    height:100%;
    overflow: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*::-webkit-scrollbar { 
    display: none; 
}*/

#header {
    color: #AAA;
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-family: 'Dejavu Sans';
    padding: 20px 0 12px 0;
}

#nlp-input {
    width: 100%;
    margin: 12px;
    background: transparent;
    border: none;
    border-bottom: 2px solid orangered;
    color: white;
}

#nlp-input {
    outline: none;
}
